*{
    margin:0;
    font-family: "Inter";
    text-align: center;
}

.navbar{
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    margin: auto;
    color: white;
    align-items: center;
    display: flex;
}

.navbar *{
    display: inline;
    margin: 0.5em 0;
}

.navbar img{
    width: 120px;
}

.from{
    
    margin-top: 1em;
}

.textbox{
    margin: 1em;
    width: 230px;
    height: 35px;
    left: 36px;
    top: 101px;

    border: 1px solid #D5D4D8;
    border-radius: 5px;
    text-align: center;
    border: 2px solid #000000;
}

.btn{
    width: 477px;
    height: 40px;
    left: 36px;
    top: 151px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
}

.btn:hover{
    background: linear-gradient(50deg,  #A818DA 100%,#711F8D 1.14%);
    
}
.meme {
    position: relative;
}

.meme--image {
    margin-top: 1em;
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {

    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}